<template lang='pug'>
.home
  .menu
    .mark Back Office
    el-menu(class="el-menu-vertical-demo"
        :default-active="active"
        mode="vertical"
        @open="handleOpen"
        @close="handleClose"
        @select="handleSelect"
        active-text-color="#ffd04b"
        background-color="#545c64"
        text-color="#fff")
      el-sub-menu(index="1")
        template(#title)
          i(class="el-icon-s-flag") 廣告加盟商管理
      el-sub-menu(index="2")
        template(#title)
          i(class="el-icon-s-custom") 會員管理
        el-menu-item(index="2-1") 會員列表
        el-menu-item(index="2-2") 補/扣點紀錄查詢
      el-sub-menu(index="3")
        template(#title)
          i(class="el-icon-s-flag") 活動管理
      el-sub-menu(index="4")
        template(#title)
          i(class="el-icon-coordinate") 遊戲管理
      el-sub-menu(index="5")
        template(#title)
          i(class="el-icon-notebook-2") 報表管理
        el-menu-item(index="5-1") 會員點數異動紀錄
        el-menu-item(index="5-2") 會員儲值紀錄
        el-menu-item(index="5-3") 儲值報表
        el-menu-item(index="5-4") 會員交易紀錄
        el-menu-item(index="5-5") 會員礦機領取紀錄
        el-menu-item(index="5-6") 礦機紀錄
  .view
    .title
      h3(class="titlefont") {{name}}
      div(class="titlename")
        .name null
        .identity 總廣告商
        el-avatar(icon="el-icon-user-solid")
    .mainview
      router-view
      register
</template>
<script>
import { useStore } from 'vuex'
import { ref, onMounted } from '@vue/runtime-core'
import { useRouter } from 'vue-router'
import register from '../views/register.vue'
// @ is an alias to /src
export default {
  name: 'back-office',
  components: {
    register,
  },
  setup (prop, { attrs, slots, emit, expose }) {
    console.log('f', slots)
    const router = useRouter()
    const store = useStore()
    const active = ref('1')
    let name = ref('Back Office')
    const handleOpen = (key, keyPath) => {
      // console.log(key, keyPath)
    }
    const handleClose = (key, keyPath) => {
      // console.log(key, keyPath)
    }
    const handleSelect = (key, keyPath) => {
      // console.log(key, keyPath)
      const manage = Number(key.split('-')[0]) - 1
      const num = Number(key.split('-')[1])
      // console.log(store.state.patharray[manage][0], store.state.patharray[manage][num])
      name = store.state.patharray[manage][0] + ' > ' + store.state.patharray[manage][num]
      // console.log(name)
      localStorage.setItem('path', name)
      document.getElementsByClassName('titlefont')[0].innerText = localStorage.getItem('path')
      // console.log(manage, num)
      toroute(manage, num)
    }
    const toroute = (manage, num) => {
      if ((manage === 4) && (num === 1)) {
        router.push({ name: 'changepoint' })
      } else {
        router.push({ name: 'backoffice' })
      }
    }
    onMounted(() => {
      document.getElementsByClassName('name')[0].innerText = localStorage.getItem('account')
      document.getElementsByClassName('titlefont')[0].innerText = localStorage.getItem('path')
    })
    return { handleOpen, handleClose, handleSelect, active, name }
  },
}
</script>
<style lang="scss" scoped>
.home{
  display: flex;
  position: relative;
  width: 100vw;
  min-height:100vh;
  height: auto;
  flex-wrap: wrap;
}

.menu{
  position: relative;
  width: 280px;
  min-height:100vh;
  height: auto;
  flex: none;
  background-color: #353535;
}

.view{
  position: relative;
  width: calc(100vw - 280px);
  min-height:100vh;
  height: auto;
  flex: none;
  background-color: bisque;
}

.el-menu-item {
  color: white;
  background-color: #545c64;
}

.el-menu-item:hover {
  background-color: #353535;
}

.el-menu-item.is-active{
  color: white;
  background-color: #353535;
}

.mark{
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  text-align:center;
  font-size: 1.5rem;
  height: auto;
  width: 100%;
}

.under{
  position: relative;
  height: 10vh;
  width: 100%;
}

.el-menu{
  padding-bottom: 2rem;
  background-color: #353535;
}

.title{
  position: relative;
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
}

.titlefont{
  flex: none;
  position: relative;
  width: 50%;
  height: auto;
  padding-left: 1rem;
  text-align: start;
}

.titlename{
  flex: none;
  position: relative;
  width: calc(50% - 20px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.name{
  position: relative;
  height: 50%;
  width: calc(100% - 60px);;
  flex: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.identity{
  position: relative;
  height: 50%;
  width: calc(100% - 60px);;
  flex: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.mainview{
  position: relative;
  width: 100%;
  height: calc(100% - 70px);
  background-color: white;
}
</style>
