<template lang='pug'>
.main
  el-form.demo-form-inline(:inline='true' :model='formInline')
    el-form-item(label='查詢時間')
      .block(lable='')
        el-date-picker(v-model='timeval' type='datetimerange' range-separator='To' start-placeholder='Start date' end-placeholder='End date' value-format='YYYY-MM-DDTHH:mm:ss' @change='changetime(timeval)')
    el-form-item(label='幣別')
      el-select.m-2(v-model='coinsvalue' @change='changecoin(coinsvalue)' placeholder='Select' size='large')
        el-option(v-for='item in coins' :key='item.value' :label='item.label' :value='item.value')
    el-form-item(label='異動類型')
      el-select.m-2(v-model='changeval' @change='changetype(changeval)' placeholder='Select' size='large')
        el-option(v-for='item in CHANGE_TYPE_LIST' :key='item.id' :label='item.name' :value='item.id')
    el-form-item(label='搜尋類型')
      el-select.m-2(v-model='fetchval' @change='changefetch(fetchval)' placeholder='Select' size='large')
        el-option(v-for='item in FETCH_TYPE_LIST' :key='item.key' :label='item.name' :value='item.key')
    el-form-item(label='搜尋資料')
      el-input(:disabled='fetchstatus' v-model='input' placeholder='Please input')
    el-form-item(label='模糊搜尋')
      el-checkbox(disabled='' v-model='checkedsearch' @change='changesearch(checkedsearch)' size='large')
    el-form-item(label='排除訪客')
      el-checkbox(v-model='checkedvisitor' @change='changevisitor(checkedvisitor)' size='large')
    el-form-item
      el-button(type='primary' @click='onSubmit') &#x67E5;&#x8A62;
      el-button(type='info' @click='clear') &#x6E05;&#x9664;&#x689D;&#x4EF6;
  .demo-pagination-block(v-if='pagestatus')
    el-pagination(background='' v-model:currentpage='currentPage' :page-sizes='[10, 20, 30, 40]' :page-size='pagesize' layout='sizes, prev, pager, next' :total='rowtotal' @size-change='handleSizeChange' @current-change='handleCurrentChange')
    el-table.tablesize(:data='tableData')
      el-table-column(prop='TransID' label='序列' width='60px')
      el-table-column(prop='MemberID' label='會員ID' width='70px')
      el-table-column(prop='PhoneNumber' label='手機號')
      el-table-column(prop='NickName' label='會員暱稱')
      el-table-column(prop='ChangeType' :formatter="changetypeid" label='異動類型')
      el-table-column(prop='PointTypeID' :formatter="coinfont" label='幣別' width='50px')
      el-table-column(show-overflow-tooltip='' prop='BeforePoint' :formatter="Beforedot" label='異動前' width='100px')
      el-table-column(show-overflow-tooltip='' prop='ChangePoint' :formatter="Changedot" label='異動量' width='100px')
      el-table-column(show-overflow-tooltip='' prop='AfterPoint' :formatter="Afterdot" label='異動後' width='100px')
      el-table-column(show-overflow-tooltip='' prop='CreateTime' :formatter="Transform" label='異動時間')
</template>
<script>
// @ is an alias to /src
import { reactive, ref } from 'vue'
import { WalletChange } from '../api/api.js'
import dayjs from 'dayjs'
export default {
  name: 'change-point',
  components: {
  },
  setup () {
    const formInline = reactive({
      user: '',
      region: '',
    })
    const coinsvalue = ref('全部')
    const timeval = ref('')
    const changeval = ref('全部')
    const fetchval = ref('')
    const checkedsearch = ref(true)
    const checkedvisitor = ref(true)
    const currentPage = ref(1)
    const tableData = ref([])
    let alltableData = []
    const rowtotal = ref(10)
    const pagesize = ref(10)
    const pagestatus = ref(true)
    let currentpage = 1
    rowtotal.value = 10
    const CHANGE_TYPE_LIST = [
      { id: 0, name: '全部' },
      { id: 4, name: '遊戲輸贏' },
      { id: 5, name: '儲值禮包入點' },
      { id: 6, name: '礦機提領' },
      { id: 8, name: '遊戲輸贏-異常' },
      { id: 11, name: '人工補扣點' },
      // 贈點交易
      { id: 13, name: '會員交易-異常' },
      { id: 14, name: '會員交易-贈禮' },
      { id: 16, name: '會員交易-接收' },
      // 活動
      { id: 1001, name: '簽到送禮' },
      { id: 1005, name: '簽到送禮-碎片兌換' },
      { id: 1100, name: '活動抽獎-扣點' },
      { id: 1101, name: '活動抽獎-獎勵' },
      // 轉帳錢包
      { id: 8000, name: '遊戲轉帳' },
      { id: 8001, name: '錢包金額補正' },
    ]
    const input = ref('')
    const options = [
      {
        value: 'Option1',
        label: 'Option1',
      },
      {
        value: 'Option2',
        label: 'Option2',
      },
      {
        value: 'Option3',
        label: 'Option3',
      },
    ]
    const coins = [
      {
        value: '0',
        label: '全部',
      },
      {
        value: '1',
        label: '金幣',
      },
      {
        value: '2',
        label: '銀幣',
      },
    ]
    const FETCH_TYPE_LIST = [
      { name: '手機號', key: 'PhoneNumber' },
      { name: '會員暱稱', key: 'NickName' },
    ]
    const fetchstatus = ref(true)
    let sDate = 'sDate='
    let eDate = '&eDate='
    let PointTypeID = '&PointTypeID=' + 0
    let ChangeTypeID = '&ChangeTypeID=' + 0
    let IsFuzzySearch = '&IsFuzzySearch=' + true
    const Skip = '&Skip=' + 0
    const Show = '&Show=' + 80
    const Field = '&Field=' + 'CreateTime'
    const OrderType = '&OrderType=' + 'desc'
    let IsGuest = '&IsGuest=' + false

    const getime = () => {
      sDate = 'sDate='
      eDate = '&eDate='
      const today = dayjs().format()
      const todaystart = today.substr(0, today.indexOf('T')) + 'T00:00:00.000Z'
      const todayend = today.substr(0, today.indexOf('T')) + 'T23:59:59.999Z'
      sDate += todaystart
      eDate += todayend
    }
    const onSubmit = () => {
      if (timeval.value === '') {
        getime()
      }
      const param = '?' + sDate + eDate + PointTypeID + ChangeTypeID + IsFuzzySearch + Skip + Show + Field + OrderType + IsGuest
      alltableData = []
      // console.log(param)
      WalletChangeapi(param)
    }
    const handleSizeChange = (val) => {
      pagesize.value = Number(val)
      tableData.value = []
      handleCurrentChange(currentpage)
    }
    const handleCurrentChange = (val) => {
      val = Number(val)
      currentpage = val
      if (val === 1) {
        tableData.value = alltableData.slice(0, pagesize.value)
      } else {
        tableData.value = alltableData.slice(pagesize.value * (val - 1), pagesize.value * val)
      }
    }
    const changecoin = (val) => {
      PointTypeID = PointTypeID.substr(0, PointTypeID.length - 1) + val
    }
    const changevisitor = (val) => {
      IsGuest = IsGuest.substr(0, IsGuest.indexOf('=')) + '=' + !val
    }
    const changesearch = (val) => {
      IsFuzzySearch = IsFuzzySearch.substr(0, IsFuzzySearch.indexOf('=')) + '=' + val
    }
    const changetype = (val) => {
      ChangeTypeID = ChangeTypeID.substr(0, IsFuzzySearch.indexOf('=')) + val
    }
    const changefetch = (val) => {
      fetchstatus.value = false
    }
    const WalletChangeapi = (param) => {
      WalletChange(param).then(res => {
        if ((fetchstatus.value === false) && (input.value.length > 0)) {
          switch (fetchval.value) {
            case 'PhoneNumber':
              for (const item in res.data.Data) {
                if (res.data.Data[item].PhoneNumber.indexOf(input.value) >= 0) {
                  alltableData.push({
                    TransID: Number(item) + 1,
                    MemberID: res.data.Data[item].MemberID,
                    PhoneNumber: res.data.Data[item].PhoneNumber,
                    NickName: res.data.Data[item].NickName,
                    ChangeType: res.data.Data[item].ChangeType,
                    ChangeTypeID: res.data.Data[item].ChangeTypeID,
                    PointTypeID: res.data.Data[item].PointTypeID,
                    BeforePoint: res.data.Data[item].BeforePoint,
                    ChangePoint: res.data.Data[item].ChangePoint,
                    AfterPoint: res.data.Data[item].AfterPoint,
                    CreateTime: res.data.Data[item].CreateTime,
                  })
                }
              }
              rowtotal.value = alltableData.length
              break
            case 'NickName':
              for (const item in res.data.Data) {
                if (res.data.Data[item].NickName.indexOf(input.value) >= 0) {
                  alltableData.push({
                    TransID: Number(item) + 1,
                    MemberID: res.data.Data[item].MemberID,
                    PhoneNumber: res.data.Data[item].PhoneNumber,
                    NickName: res.data.Data[item].NickName,
                    ChangeType: res.data.Data[item].ChangeType,
                    ChangeTypeID: res.data.Data[item].ChangeTypeID,
                    PointTypeID: res.data.Data[item].PointTypeID,
                    BeforePoint: res.data.Data[item].BeforePoint,
                    ChangePoint: res.data.Data[item].ChangePoint,
                    AfterPoint: res.data.Data[item].AfterPoint,
                    CreateTime: res.data.Data[item].CreateTime,
                  })
                }
              }
              rowtotal.value = alltableData.length
              break
          }
        } else if (fetchstatus.value === true) {
          for (const item in res.data.Data) {
            alltableData.push({
              TransID: Number(item) + 1,
              MemberID: res.data.Data[item].MemberID,
              PhoneNumber: res.data.Data[item].PhoneNumber,
              NickName: res.data.Data[item].NickName,
              ChangeType: res.data.Data[item].ChangeType,
              ChangeTypeID: res.data.Data[item].ChangeTypeID,
              PointTypeID: res.data.Data[item].PointTypeID,
              BeforePoint: res.data.Data[item].BeforePoint,
              ChangePoint: res.data.Data[item].ChangePoint,
              AfterPoint: res.data.Data[item].AfterPoint,
              CreateTime: res.data.Data[item].CreateTime,
            })
          }
          rowtotal.value = alltableData.length
        }
        handleCurrentChange(1)
        // console.log('alltableData', alltableData)
      })
    }
    const Transform = (row) => {
      return dayjs(row.CreateTime).format('YYYY-MM-DD HH:mm:ss')
    }
    const clear = () => {
      coinsvalue.value = '全部'
      changeval.value = '全部'
      fetchval.value = ''
      fetchstatus.value = true
      input.value = ''
      timeval.value = ''
    }
    const changetime = (val) => {
      let sDatestr = JSON.stringify(val[0])
      let eDatestr = JSON.stringify(val[1])
      sDatestr = sDatestr.substr(1, sDatestr.length - 2) + '.000Z'
      eDatestr = eDatestr.substr(1, eDatestr.length - 2) + '.999Z'
      sDate = sDate.substr(0, sDate.indexOf('=')) + '=' + sDatestr
      eDate = eDate.substr(0, eDate.indexOf('=')) + '=' + eDatestr
    }
    const coinfont = (row) => {
      return row.PointTypeID === 1 ? '金幣' : '銀幣'
    }
    const numberWithCommas = (num) => {
      num = num.toString()
      if (num.indexOf('.') >= 0) {
        num = num.split('.')
        const figure = num[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
        const point = num[1]
        num = figure + '.' + point
        return num
      } else {
        return num.replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      }
    }
    const Beforedot = (row) => {
      return numberWithCommas(row.BeforePoint)
    }
    const Changedot = (row) => {
      return numberWithCommas(row.ChangePoint)
    }
    const Afterdot = (row) => {
      return numberWithCommas(row.AfterPoint)
    }
    const changetypeid = (row) => {
      for (const item of CHANGE_TYPE_LIST) {
        if (item.id === row.ChangeTypeID) {
          return item.name
        }
      }
      return 'no status ' + row.ChangeTypeID
    }
    return { formInline, onSubmit, coinsvalue, CHANGE_TYPE_LIST, input, checkedsearch, checkedvisitor, timeval, currentPage, handleSizeChange, handleCurrentChange, tableData, rowtotal, pagesize, pagestatus, coins, changeval, fetchval, changecoin, changevisitor, changesearch, options, changetype, FETCH_TYPE_LIST, changefetch, fetchstatus, clear, changetime, coinfont, Beforedot, Changedot, Afterdot, Transform, changetypeid }
  },
}
</script>
<style lang="scss" scoped>
  .main{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1em;
    text-align:justify;
    overflow-x: scroll;
  }

  .tablesize{
    width: calc(100% - 20px);
  }

</style>
