<template lang='pug'>
.home
  .loginBlock
    .loginFont 登入
    .accountInput
      input(
        type='text'
        placeholder='請輸入帳號'
        v-model='users.account'
      )
    span(v-if='v$.account.$invalid')
      | {{v$.account.$silentErrors[0].$message}}
    .passwordInput
      input(
        type='password'
        placeholder='請輸入密碼'
        v-model='users.password'
      )
    span(v-if='v$.password.$invalid')
      | {{v$.password.$silentErrors[0].$message}}
    .rememberBlock
      el-switch(
        v-model='rememberStatus'
        active-text='記住帳號'
        inactive-text=''
      )
    .send
      el-button( plain @click='send' :disabled='v$.$invalid') 送出
</template>
<script>
import { ref } from '@vue/runtime-core'
import { loginApi, tokenApi } from '../api/api.js'
import { useRouter } from 'vue-router'
import useValidate from '@vuelidate/core'
import { required, minLength } from '@vuelidate/validators'
// @ is an alias to /src
export default {
  name: 'login-view',
  components: {
  },
  setup () {
    localStorage.removeItem('path')
    const router = useRouter()
    const rememberStatus = ref(true)
    const users = ref({
      account: '',
      password: '',
    })
    const rules = {
      account: { required, minLength: minLength(6) },
      password: { required, minLength: minLength(6) },
    }
    if (localStorage.getItem('account') != null) {
      users.value.account = localStorage.getItem('account')
    }
    const send = async () => {
      if (!((users.value.account === '') || (users.value.password === ''))) {
        if (rememberStatus.value) {
          let token = null
          await loginApi({
            Account: users.value.account,
            Password: users.value.password,
            Device: 'Win-PC',
          })
            .then(res => {
              // console.log(res)
              // console.log(res.data.Status.Message)
              localStorage.setItem('account', users.value.account)
              token = res.data.access_token
            })
            .catch(err => {
              console.log(err)
            })
          // console.log(token)
          tokenApi(token).then(res => {
            // console.log('do', res.data.Status.Message)
            // console.log('do', res)
            if (res.data.Status.Message === 'Success') {
              router.push({ name: 'backoffice' })
            }
          })
        } else {
          localStorage.clear('account')
        }
      }
    }
    const v$ = useValidate(rules, users)
    return { rememberStatus, send, users, v$ }
  },
}
</script>
<style lang="scss" scoped>
.home{
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBlock{
  flex: none;
  position: relative;
  width: 550px;
  height: 60%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loginFont{
  position: relative;
  flex:none;
  width: 95%;
  height: 18%;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight:bold;
  font-size: 2rem;
}

.accountInput{
  position: relative;
  flex:none;
  width: 95%;
  height: 18%;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:bold;
  font-size: 2rem;
}

.accountInput input{
  position: relative;
  width: 100%;
  height: 50%;
  font-size: 1.2rem;
  padding:5px;
}

.passwordInput{
  position: relative;
  flex:none;
  width: 95%;
  height: 18%;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:bold;
  font-size: 2rem;
}

.passwordInput input{
  position: relative;
  width: 100%;
  height: 50%;
  font-size: 1.2rem;
  padding:5px;
}

.rememberBlock{
  position: relative;
  flex:none;
  width: 95%;
  height: 14%;
  text-align: start;
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-weight:bold;
  font-size: 1rem;
  color: red;
}

.send{
  position: relative;
  flex:none;
  width: 95%;
  height: 18%;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight:bold;
}

.send button{
  position: relative;
  width: 100%;
  height: 60%;
  background-color: #2b2f3a;
  color: white;
}

.loginBlock span{
  position: relative;
  width: 100%;
  height: 40px;
  background-color: white;
  color: red;
  font-size: 1rem;
}
@media (max-width: 600px) {
    .loginBlock{
      width: 300px;
    }
  }

</style>
