<template class="dd">
  <div class="root">
    <h2>Create an Account</h2>
    <p>
      <input type="text" placeholder="Email" v-model="users.email" />
    </p>
    <span class="tip" v-if="v$.email.$invalid">
        {{ v$.email.$silentErrors[0].$message }}
    </span>
    <p>
      <input type="text" placeholder="account" v-model="users.account" />
    </p>
    <span  class="tip" v-if="v$.account.$invalid">
        {{ v$.account.$silentErrors[0].$message }}
    </span>
    <p>
      <input type="password" placeholder="Password" v-model="users.password.passwords"/>
    </p>
    <span class="tip" v-if="v$.password.passwords.$invalid">
        {{ v$.password.passwords.$silentErrors[0].$message }}
    </span>
    <p>
      <input type="password" placeholder="Confirm Password" v-model="users.password.confirm"/>
    </p>
    <span class="tip" v-if="v$.password.confirm.$invalid">
        {{ v$.password.confirm.$silentErrors[0].$message }}
    </span>
    <div>
      <el-button type="success" @click='submitForm' :disabled='v$.$invalid'>送出</el-button>
    </div>
    <p>{{users}}</p>
  </div>
</template>
<script>
import { ref } from 'vue'
import useValidate from '@vuelidate/core'
import { required, email, helpers } from '@vuelidate/validators'
export default {
  name: 'register-view',
  components: {
  },
  setup (prop, { attrs, slots, emit, expose }) {
    // console.log(prop)
    // console.log(attrs)
    console.log('p', slots)
    // console.log(emit)
    // console.log(expose)
    const adventurer = {
      name: 'Alice',
      cat: {
        name: 'Dinah',
      },
    }
    const dogName = adventurer.dog?.name
    console.log(dogName)
    const users = ref({
      email: '',
      account: '',
      password: {
        passwords: '',
        confirm: '',
      },
    })
    const confirmrule = () => {
      return (users.value.password.confirm.length > 0) && (users.value.password.passwords === users.value.password.confirm)
    }
    const accountrule = (val) => {
      const lenrule = (val.length >= 6) && (val.length <= 20)
      const strrule = (val.substr(0, 3).match(/^[A-Za-z]+$/) != null) && (val.substr(val.length - 3, val.length).match(/^[1-9]+$/) != null)
      const specialrule = val.substring(3, val.length - 3).match(/['";{}()$^&|:?.<>\],!%#[]/) == null
      return lenrule && strrule && specialrule
    }
    const passwordrule = (val) => {
      const lenrule = (val.length >= 6) && (val.length <= 20)
      const strrule = val.match(/^[A-Za-z1-9]+$/) != null
      const specialrule = val.match(/['";{}()$^&|:?.<>\],!%#[]/) == null
      const samerule = val !== users.value.account
      return lenrule && strrule && specialrule && samerule
    }
    const rules = {
      email: { required, email },
      account: { accountrule: helpers.withMessage('檢查長度6~20 有無特殊字元 前3英文 後3數字', accountrule) },
      password: {
        passwords: { passwordrule: helpers.withMessage('檢查長度6~20 有無特殊字元 英數混合 不能和帳號相同', passwordrule) },
        confirm: { confirmrule: helpers.withMessage('要和密碼相同', confirmrule) },
      },
    }
    const v$ = useValidate(rules, users)
    const submitForm = () => {
      console.log('dixies')
    }
    return { users, v$, submitForm }
  },
}
</script>
<style lang="css" scoped>
  .root {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
  }

  input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    font-size: 1em;
    padding: 5px 0;
    margin: 10px 0 5px 0;
    width: 100%;
  }

  .tip {
    color: red;
  }
</style>
