<template lang="pug" name="index">
.deposit__pop__wrap(
  :class="tw([\
    'fixed',\
    'top-0',\
    'left-0',\
    'z-30',\
    'h-full',\
    'w-full',\
  ])"
)
  .deposit__pop__bg(
    :class="tw([\
      'h-full',\
      'w-full',\
    ])"
    @click="close"
  )
  .deposit__pop__container(
    :class="tw([\
      'max-w-428px',\
      'md:w-full',\
      'bg-depositBg',\
      'px-10px',\
      'pb-30px',\
      'rounded-20px',\
      'absolute',\
      'top-1/2',\
      '-translate-y-1/2',\
      'left-0',\
      'right-0',\
      'md:right-auto',\
      'md:left-1/2',\
      'md:-translate-x-1/2',\
      'z-20',\
      'mx-18px',\
      'md:mx-0',\
      'max-h-[80vh]',\
      'overflow-y-auto',\
    ])"
  )
    .close__icon(
      :class="tw([\
        'ml-auto',\
        'w-60px',\
        'h-60px',\
        'bg-white',\
      ])"
      :style="{\
        '-webkit-mask': \
          `url(${require('./images/i_pad_menu_close.svg')}) no-repeat center /contain`,\
        'mask': \
          `url(${require('./images/i_pad_menu_close.svg')}) no-repeat center /contain`,\
      }"
      @click="close"
    )
    viewMenu(
      :list="packageData"
      :choseType="passageItemChose"
      @chgType="chgType"
    )
    .deposit__info(
      v-if="packageDataChose"
      :class="tw([\
        'relative',\
        'bg-depositPopBg',\
        'rounded-10px',\
        'px-30px',\
        'pt-26px',\
        'pb-20px',\
        'text-white',\
        'leading-none',\
      ])"
    )

      .difference(
        v-if="packageDataChose.difference && giftStatus"
        :class="tw([\
          'absolute',\
          'top-0',\
          'left-16px',\
          '-translate-y-1/2',\
          'translate-x-0',\
          'inline-block',\
          'text-12px',\
          'bg-depositDifferenceBg',\
          'rounded-full',\
          'leading-none',\
          'py-4px',\
          'px-16px',\
        ])"
      )
        span 優惠再加贈:&nbsp;
        template(
          v-for="(value, key, index) in packageDataChose.difference"
          :key="index"
        )
          span {{ formatCoinName(key) }}&nbsp;
          span {{ value }}
          span(v-if="index < Object.keys(packageDataChose.difference).length - 1") &nbsp;/&nbsp;

      .data(:class="tw([\
        'flex',\
        'justify-between',\
        'items-end',\
        'mb-14px',\
      ])")
        .title {{ packageDataChose.package.PackageName }}
        .price
          span {{ CURRENCY }}
          span(
            :class="tw([\
              'text-26px',\
              'ml-12px',\
            ])"
          ) {{ packageDataChose.package.TWD }}
      .amount__group(
        :class="tw([\
          'flex',\
          'items-center',\
        ])"
      )
        .amount__item(
          v-for="(item, index) in packageDataChose.point"
          :key="index"
          :class="tw([\
            'flex',\
            'items-center',\
            'mr-28px',\
          ])"
        )
          img(
            :src="item.icon"
            :class="tw([\
              'w-16px',\
              'h-16px',\
              'mr-4px',\
            ])"
          )
          span(
            :class="tw([\
              `text-[${item.color}]`,\
              'text-13px',\
            ])"
          ) {{ item.count }}
        img(
            src="/img/coin/i_vip_color.svg"
            :class="tw([\
              'w-16px',\
              'h-16px',\
              'mr-4px',\
            ])"
          )
        span(
            :class="tw([\
              `text-white`,\
              'text-13px',\
            ])"
          ) +{{vipExp}}
      .amount__group(
        :class="tw([\
          'flex',\
          'items-center',\
          'mt-2',\
        ])"
      )
        span(
            :class="tw([\
              `text-\[\#D7BE96\]`,\
              'text-13px',\
            ])"
          ) {{giftStr}}
    .deposit__data(
      :class="tw([\
        'px-20px',\
        'md:px-38px',\
      ])"
    )
        .deposit__title(
          :class="tw([\
            'text-footerText',\
            'mt-24px',\
            'mb-16px',\
            giftStatus ? '' : 'pointer-events-none opacity-40',\
          ])"
        ) *請選擇要使用的購物發票載具或捐贈
        .deposit__list(
          :class="tw([\
            'flex',\
            'border(b footerText dashed)',\
            'mb-24px',\
            'pb-16px',\
            giftStatus ? '' : 'pointer-events-none opacity-40',\
          ])"
        )
          .deposit__item(
            v-for="(item, index) of documentsList"
            :key="item.id"
            :class="tw([\
              'cursor-pointer',\
              'flex',\
              'items-center',\
              documentsList.length - 1 > index ? 'md:mr-92px mr-20px' : '',\
              documentsTypeChose === item.type ? 'text-white' : 'text-footerText',\
            ])"
            @click="documentsTypeChose = item.type"
          )
            .icon(
              :class="tw([\
                'h-24px',\
                'w-24px',\
                'flex',\
                'items-center',\
                'justify-center',\
                'mr-12px',\
              ])"
            )
              img(
                v-if="documentsTypeChose === item.type"
                :src="require('../images/i_tick2_act.svg')"
              )
              .non(
                v-else
                :class="tw([\
                  'h-20px',\
                  'w-20px',\
                  'rounded-full',\
                  'border',\
                  'border-depositNonCheckColor',\
                ])"
              )
            .label {{ item.label }}
        template(v-if="documentsTypeChose === 'donate'")
          .deposit__title(
            :class="tw([\
              'text-footerText',\
              'mt-24px',\
              'mb-16px',\
              giftStatus ? '' : 'pointer-events-none opacity-40',\
            ])"
          ) *請選擇捐贈單位
          .deposit__list(
            :class="tw([\
              'justify-around',\
              'border(b footerText dashed)',\
              'mb-24px',\
              'pb-16px',\
              giftStatus ? '' : 'pointer-events-none opacity-40',\
            ])"
          )
            .deposit__item(
              v-for="item of donateList"
              :key="item.id"
              :class="tw([\
                'cursor-pointer',\
                'flex',\
                'items-center',\
                'mb-12px',\
                donateItemChose === item.id ? 'text-white' : 'text-footerText',\
              ])"
              @click="donateItemChose = item.id"
            )
              .icon(
                :class="tw([\
                  'h-24px',\
                  'w-24px',\
                  'flex',\
                  'items-center',\
                  'justify-center',\
                  'mr-12px',\
                ])"
              )
                img(
                  v-if="donateItemChose === item.id"
                  :src="require('../images/i_tick2_act.svg')"
                )
                .non(
                  v-else
                  :class="tw([\
                    'h-20px',\
                    'w-20px',\
                    'rounded-full',\
                    'border',\
                    'border-depositNonCheckColor',\
                  ])"
                )
              input.input(
                v-if="item.type === 'placeholder'"
                :placeholder="item.label"
                :class="tw([\
                  'py-8px',\
                  'px-20px',\
                  'rounded-full',\
                  'bg-depositInputBg',\
                  'border',\
                  'placeholder-depositInputLine',\
                  v$.donateValue?.$error ? 'border-red-600' : 'border-depositInputLine',\
                  transitionBase,\
                ])"
                v-model="item.value"
              )
              .label(v-else) {{ item.label }}
        template(v-if="documentsTypeChose === 'device'" )
          .deposit__list
            .deposit__item(
              :class="tw([\
                'flex',\
                'items-center',\
                'mb-12px',\
                giftStatus ? '' : 'pointer-events-none opacity-40',\
              ])"
            )
              .icon(
                :class="tw([\
                  'h-24px',\
                  'w-24px',\
                  'flex',\
                  'items-center',\
                  'justify-center',\
                  'mr-12px',\
                  'flex-shrink-0',\
                ])"
              )
                img(:src="require('../images/i_tick2_act.svg')")
              .label(
                :class="tw([\
                  'mr-12px',\
                  'whitespace-nowrap',\
                  'text-white',\
                ])"
              ) {{ mail.label }}
              input.input(
                :placeholder="mail.placeholder"
                :class="tw([\
                  'py-8px',\
                  'px-20px',\
                  'ml-auto',\
                  'rounded-full',\
                  'bg-depositInputBg',\
                  'border',\
                  'border-depositInputLine',\
                  'placeholder-depositInputLine',\
                  'text-white',\
                  'w-full',\
                  v$.mail?.$error ? 'border-red-600' : 'border-depositInputLine',\
                  transitionBase,\
                ])"
                v-model="mail.value"
              )
            .deposit__item(
              v-for="item of deviceList"
              :key="item.id"
              :class="tw([\
                'flex',\
                'items-center',\
                'mb-12px',\
                giftStatus ? '' : 'pointer-events-none opacity-40',\
                deviceItemChose === item.id ? 'text-white' : 'text-footerText',\
              ])"
              @click="deviceItemChose = item.id"
            )
              .icon(
                :class="tw([\
                  'h-24px',\
                  'w-24px',\
                  'flex',\
                  'items-center',\
                  'justify-center',\
                  'mr-12px',\
                  'flex-shrink-0',\
                ])"
              )
                img(
                  v-if="deviceItemChose === item.id"
                  :src="require('../images/i_tick2_act.svg')"
                )
                .non(
                  v-else
                  :class="tw([\
                    'h-20px',\
                    'w-20px',\
                    'rounded-full',\
                    'border',\
                    'border-depositNonCheckColor',\
                  ])"
                )
              .label(
                :class="tw([\
                  'mr-12px',\
                  'whitespace-nowrap',\
                ])"
              ) {{ item.label }}
              .input(
                :class="tw([\
                  'py-8px',\
                  'px-20px',\
                  'ml-auto',\
                  'rounded-full',\
                  'bg-depositInputBg',\
                  'border',\
                  'border-depositInputLine',\
                  'flex',\
                  'items-center',\
                  v$[item.id]?.$error ? 'border-red-600' : 'border-depositInputLine',\
                  'w-175px',\
                ])"
              )
                span(
                  v-if="item.id === 'phone'"
                  :class="tw([\
                    'mr-4px',\
                  ])"
                ) /
                input.input(
                  :placeholder="item.placeholder"
                  :class="tw([\
                    'bg-transparent',\
                    'placeholder-depositInputLine',\
                    'w-full',\
                  ])"
                  v-model="item.value"
                )
        .btn(
          :class="tw([\
            'mt-20px',\
            'cursor-pointer',\
            'bg-depositBtnBg',\
            'rounded-full',\
            'text(18px center white)',\
            'p-8px',\
            available ? '' : 'pointer-events-none opacity-40',\
          ])"
          @click="sumbit"
        ) 購買
</template>

<script>
import { reactive, ref, computed, inject, onBeforeMount, onUnmounted } from 'vue'
import store from '@/store'
import { useRoute, useRouter } from 'vue-router'

import { getBuyPackage } from '@/api/deposit'
import { DEPOSIT_TYPE } from '../config'
import { CURRENCY, COIN_TYPE } from '@/configs'
import { useValidator, required, email, donate, barcode, certificate } from '@/utils/use-validator'
import { pointFormatter } from '@/utils/formatters'
import { isOpenAnotherWebPage } from '@/utils/ua'
import { event } from 'vue-gtag-next'

import viewMenu from './menu'
import TEMPLETE from './templete'

export default {
  name: 'deposit-pop',

  components: {
    viewMenu,
  },

  inject: ['packageList'],

  setup () {
    const route = useRoute()
    const router = useRouter()

    const loading = ref(false)

    const passageList = reactive(DEPOSIT_TYPE)
    const passageItemChose = ref('atm')

    const documentsList = ref([
      { id: 0, type: 'donate', label: '捐贈' },
      { id: 1, type: 'device', label: '載具類型' },
    ])
    const documentsTypeChose = ref('donate')

    const donateList = ref([
      { id: 'gswf', label: '創世基金會', value: '919' },
      { id: 'other', type: 'placeholder', label: '輸入愛心碼', value: '' },
    ])
    const donateItemChose = ref('gswf')

    const mail = ref({ id: 'mail', label: 'E-mail', placeholder: '*電子信箱為必填資訊', value: '' })

    const deviceList = ref([
      { id: 'phone', label: '手機條碼', placeholder: '手機條碼', value: '', code: '3J0002' },
      { id: 'certificate', label: '自然人憑證', placeholder: '自然人憑證載具條碼', value: '', code: 'CQ0001' },
    ])
    const deviceItemChose = ref('phone')

    // validator

    const form = reactive({
      donateValue: computed(() => donateItemChose.value === 'gswf' ? donateList.value[0].value : donateList.value[1].value),

      mail: computed(() => mail.value.value),
      phone: computed(() => deviceList.value[0].value),
      certificate: computed(() => deviceList.value[1].value),
    })

    const rules = computed(() => {
      if (documentsTypeChose.value === 'donate') {
        return {
          donateValue: {
            required: required(),
            donate: donate(),
          },
        }
      } else if (documentsTypeChose.value === 'device') {
        if (deviceItemChose.value === 'phone') {
          return {
            mail: {
              required: required(),
              email: email(),
            },
            phone: {
              required: required(),
              barcode: barcode(),
            },
          }
        } else if (deviceItemChose.value === 'certificate') {
          return {
            mail: {
              required: required(),
              email: email(),
            },
            certificate: {
              required: required(),
              certificate: certificate(),
            },
          }
        } else return {}
      } else return {}
    })

    const v$ = useValidator(rules, form)

    const packageData = computed(() => {
      // format
      const target = inject('packageList').reduce((acc, cur) => {
        if (!cur.data) return acc.concat(cur)

        const data = cur.data.find(item => item.PackageName === route.query.packageName)
        const target = { ...cur, package: data }
        delete target.data
        return acc.concat(target)
      }, [])

      // difference

      if (!target[0].package) return []

      const goldPointList = target
        .map(item => item.package.GoldPoint)
        .filter(item => item)

      const silverPointList = target
        .map(item => item.package.SilverPoint)
        .filter(item => item)

      const goldPointLowIndex = goldPointList.indexOf(Math.min(...goldPointList))

      return target.reduce((acc, cur, index) => {
        cur.point = []
        for (const item of ['gold', 'silver']) {
          const target = COIN_TYPE.find(items => items.type === item)
          cur.point.push({
            icon: target?.icon ?? '',
            count: pointFormatter(cur.package[target.point]),
            color: target?.color ?? '',
          })
        }

        if (goldPointLowIndex !== index) {
          cur.difference = {
            gold: goldPointList[goldPointLowIndex] ? cur.package.GoldPoint - goldPointList[goldPointLowIndex] : 0,
            silver: silverPointList[goldPointLowIndex] ? cur.package.SilverPoint - silverPointList[goldPointLowIndex] : 0,
          }

          for (const [key, value] of Object.entries(cur.difference)) {
            if (value <= 0) delete cur.difference[key]
            else cur.difference[key] = pointFormatter(value)
          }
        }

        // 目前除了ATM之外，其他成為最優惠時則不顯示。
        cur.discount = cur.type === 'atm'
          ? Math.max(...goldPointList) === cur.package.GoldPoint ?? Math.max(...silverPointList) === cur.package.SilverPoint
          : false

        return acc.concat(cur)
      }, [])
    })

    const packageDataChose = computed(() => {
      return packageData.value.find(item => item.type === passageItemChose.value)
    })

    const vipExp = computed(() => {
      return pointFormatter(packageDataChose.value?.package.Exp)
    })

    const giftStatus = computed(() => {
      return packageDataChose.value?.package.TWD !== '0'
    })

    const giftStr = computed(() => {
      if (packageDataChose.value?.package.CanQuantity === 0 && packageDataChose.value?.package.ItemQuantity === 0) return ''
      else if (packageDataChose.value?.package.CanQuantity !== 0 && packageDataChose.value?.package.ItemQuantity === 0) return '+罐頭' + packageDataChose.value?.package.CanQuantity + '個'
      else if (packageDataChose.value?.package.CanQuantity === 0 && packageDataChose.value?.package.ItemQuantity !== 0) return '+' + packageDataChose.value?.package.ItemName + packageDataChose.value?.package.ItemQuantity + '個'
      return '+罐頭' + packageDataChose.value?.package.CanQuantity + '個, ' + packageDataChose.value?.package.ItemName + packageDataChose.value?.package.ItemQuantity + '個'
    })

    const available = computed(() => {
      return packageDataChose.value?.package.IsConditionAvailable
    })

    onBeforeMount(() => {
      event('shopping_package_show', { show: '' })
      store.dispatch('platform/setCover', true)
    })

    onUnmounted(() => {
      event('shopping_package_leave', { leave: '' })
      store.dispatch('platform/setCover', false)
    })

    const formatCoinName = (type) => {
      const target = COIN_TYPE.find(item => item.type === type)
      return target?.label ?? type
    }

    const close = () => {
      const target = JSON.parse(JSON.stringify(route.query))
      delete target.packageName
      router.push({ query: target })
    }
    const sumbit = async () => {
      v$.value.$touch()
      if (v$.value.$error) return false

      if (loading.value) return false
      loading.value = true

      let newPage = null
      if (isOpenAnotherWebPage()) newPage = window.open()

      const choseDonate = documentsList.value.find(item => item.type === documentsTypeChose.value)
      const body = {
        packageID: packageDataChose.value.package.PackageID,
        uniformInvoiceInfo: {
          DonateMark: choseDonate.id,
        },
      }

      if (documentsTypeChose.value === 'donate') {
        const chose = donateList.value.find(item => item.id === donateItemChose.value)
        body.uniformInvoiceInfo = {
          ...body.uniformInvoiceInfo,
          NPOBAN: chose.value,
        }
      } else if (documentsTypeChose.value === 'device') {
        const chose = deviceList.value.find(item => item.id === deviceItemChose.value)
        body.uniformInvoiceInfo = {
          ...body.uniformInvoiceInfo,
          CarrierId: chose.id === 'phone' ? `/${chose.value}` : chose.value,
          CarrierType: chose.code,
          BuyerEmailAddress: mail.value.value,
        }
      } else return false

      await getBuyPackage({ body })
        .then(res => {
          event('shopping_package_success', {
            package_id: body.packageID,
            deposit_type: body.uniformInvoiceInfo.DonateMark,
          })

          if (newPage) {
            newPage.document.write(TEMPLETE(res.Data))
            newPage.document.close()
          } else {
            document.write(TEMPLETE(res.Data))
            document.close()
          }
        })
        .catch(error => {
          console.log(error)
        })
      loading.value = false
      router.replace({ name: 'deposit-complete' })
    }

    const chgType = (obj) => {
      event('shopping_package_click', { click: 'deposit_type' })
      passageItemChose.value = obj.type
    }

    return {
      CURRENCY,
      loading,

      form,

      passageList,
      passageItemChose,

      documentsList,
      documentsTypeChose,

      donateList,
      donateItemChose,

      mail,
      deviceList,
      deviceItemChose,

      packageData,
      packageDataChose,
      vipExp,
      giftStatus,
      giftStr,
      available,

      close,
      sumbit,
      formatCoinName,
      chgType,
      v$,
    }
  },
}
</script>
