<template lang="pug" name='package-item'>
.package__item(
  v-for="(item, index) of list"
  :key="item.PackageID"
  :class="tw([\
    'relative',\
    'cursor-pointer',\
    'group',\
    'z-0',\
  ])"
  @click="action(item)"
)
  img.package__sale(
    :src="SALE_IMG[item.PackageID] || '' "
    :class="tw([\
      'absolute',\
      'top-0',\
      'right-0',\
      'z-20',\
      'w-[160px]',\
    ])"
  )
  .package__item__container(
    :class="tw([\
      'relative',\
      'rounded-12px',\
      'overflow-hidden',\
      'bg-white',\
      'flex',\
      'flex-col',\
      'bg-navBgHover',\
      route.query.type === 'giftpack' ? 'h-330px' : 'h-220px',\
    ])"
    :style="{\
      willChange: 'transform',\
    }"
  )
    img.package__img(
      :class="tw([\
        'absolute',\
        'top-1/2',\
        'left-1/2',\
        '-translate-x-1/2',\
        '-translate-y-1/2',\
        'group-hover:scale-105',\
        'min-w-full',\
        'object-cover',\
        'h-full',\
        transitionBase,\
      ])"
      :src="`${choseRewardBackground(item.PackageID)}`"
    )
    .package__content(
      :class="tw([\
        'flex',\
        'flex-1',\
        'items-end',\
        'relative',\
        'z-10',\
      ])"
    )
      template(v-for="(coin, index) of filterCoinList(item)")
        .package__type__item(
          v-if="item[coin.label]"
          :key="coin.id"
          :class="tw([\
            'relative',\
            'flex',\
            'flex-1',\
            'items-center',\
            'justify-center',\
            'mb-14px',\
          ])"
        )
          .package__type__coin(
            :class="tw([\
              'w-22px',\
              'h-22px',\
              'mr-8px',\
            ])"
            :style="{\
              background: `url('${coin.img}') no-repeat center center /contain`,\
            }"
          )
          .package__type__count(
            :class="tw([\
              'text(14px center)',\
              'leading-none',\
              coin.label === 'Exp' ? 'py-2px px-8px rounded-full' : '',\
            ])"
            :style="{\
              color: coin.text,\
              background: coin.label === 'Exp' ? coin.background : '',\
            }"
          ) {{ coin.point }}{{ pointFormatter(item[coin.label]) }}
          .package__type__line(
            v-if="index < filterCoinList(item).length - 1"
            :class="tw([\
              'absolute',\
              'right-0',\
              'top-1/2',\
              '-translate-y-1/2',\
              'w-px',\
              'h-20px',\
              'bg-white',\
              'opacity-30',\
            ])"
          )
    .package__title(:class="tw([\
      'relative',\
      'flex',\
      'justify-between',\
      'items-center',\
      'bg-black',\
      'bg-opacity-30',\
      'pl-28px',\
      'pr-14px',\
      'py-6px',\
    ])")
      .package__label(:class="tw([\
        'text(15px white)',\
      ])") {{ item.PackageName }}
      .package__price(
        :class="tw([\
          'bg-depositBtn',\
          'text(white 18px)',\
          'rounded-full',\
          'py-4px',\
          'px-24px',\
          'leading-none',\
        ])"
      )
        span.package__unit(:class="tw([\
          'text-12px',\
          'mr-15px',\
        ])") {{ CURRENCY }}
        | {{ pointFormatter(item.TWD) }}
  .package__tips(
    v-if="enablePackageTips"
    :class="tw([\
    'flex',\
    'justify-end',\
    'text-14px',\
    ])"
  )
    .package__count(
      v-if="item.Quantity"
      :class="tw([\
        'text-bannerBg',\
      ])"
    ) 可購數量 {{ item.Quantity }}
    span.package__dot(
      v-if="item.Quantity && item.EndTime"
      :class="tw([\
        'text-bannerBg',\
      ])"
    ) ,&nbsp;
    .package__time(:class="tw([\
      'text(navColorHover right)',\
    ])") {{ countdownTimer(item.EndTime) }}
</template>

<script>
import { CURRENCY } from '@/configs'
import { REWARD_COIN, REWARD_BACKGROUND, SALE_IMG } from './config'
import { useRoute, useRouter } from 'vue-router'
import dayjs from 'dayjs'
import duration from 'dayjs/plugin/duration'
import { onMounted, onUnmounted, ref } from '@vue/runtime-core'
import store from '@/store'
import { pointFormatter } from '@/utils/formatters'

dayjs.extend(duration)

export default {
  name: 'deposit-package-item',

  props: {
    list: {
      type: Array,
      default: () => [],
    },

    enablePackageTips: {
      type: Boolean,
      default: () => true,
    },
  },

  setup () {
    const route = useRoute()
    const router = useRouter()
    const action = (obj) => {
      // 當有結束時間且超過當前時間時才不做任何動作。
      if (obj.EndTime && !dayjs().isBefore(dayjs(obj.EndTime))) return false

      if (store.getters['member/isLogin'] && !store.state.member.info.IsGuest) {
        const target = route.query
        router.push({ query: { ...target, packageName: obj.PackageName } })
      } else store.commit('UPDATE_DRAWER_STATE', true)
    }

    const nowTime = ref(dayjs())
    let timer = null
    onMounted(() => {
      timer = setInterval(() => {
        nowTime.value = dayjs()
      }, 1000)
    })
    onUnmounted(() => {
      clearInterval(timer)
    })

    const countdownTimer = (t) => {
      if (!t) return ''

      const endTime = dayjs(t)
      if (endTime.isBefore(nowTime.value)) return '已結束販售'
      const target = dayjs.duration(endTime.diff(nowTime.value))
      const text = parseInt(target.format('DD')) ? '倒數 DD 天 HH 小時 mm 分' : '倒數 HH 小時 mm 分'
      return target.format(text)
    }

    const choseRewardBackground = (id) => {
      return REWARD_BACKGROUND[id] ?? REWARD_BACKGROUND[0]
    }

    const filterCoinList = (items) => {
      return REWARD_COIN.filter(item => Object.keys(items).includes(item.label))
    }

    return {
      REWARD_COIN,
      CURRENCY,
      SALE_IMG,
      route,
      action,
      countdownTimer,
      choseRewardBackground,
      filterCoinList,
      pointFormatter,
    }
  },
}
</script>
