<template lang="pug" name='package-list'>
.deposit__package__wrap(
  :class="tw([\
    'mb-34px',\
  ])"
)
  .deposit__package__container
    //- 只有在禮包才顯示分類選單。
    viewMenu(
      v-if="presetID === 1"
      @chgPackageType="chgPackageType"
      :class="tw([\
        'mx-18px',\
        'md:mx-0',\
      ])"
    )

    el-skeleton(
      v-if="loading"
      :loading="loading"
      :class="tw([\
        LIST_STYLE,\
      ])"
      :count="1"
      :throttle="500"
      animated
    )
      template(#template)
        div(
          :class="tw([\
            'rounded-20px',\
            'overflow-hidden',\
            routeType === 'giftpack' ? 'h-330px' : 'h-250px',\
          ])"
        )
          el-skeleton-item(
            variant="image"
            style="height: 100%;"
          )

    .deposit__package__list(
      v-else
      :class="tw([\
        LIST_STYLE,\
      ])"
    )
      depositItem(
        v-if="filterList.length"
        :list="filterList"
        :enablePackageTips="enablePackageTips"
      )
</template>

<script>
import { ref, computed, inject, provide } from 'vue'
import store from '@/store'
import { useRoute, useRouter } from 'vue-router'

import { apply } from 'twind'
import { MOBILE_WIDTH } from '@/configs'
import { event } from 'vue-gtag-next'

import viewMenu from './menu'
import depositItem from './package-item'

export default {
  name: 'deposit-package-list',

  components: {
    depositItem,
    viewMenu,
  },

  props: {
    list: {
      type: Array,
      default: () => [],
    },

    presetID: {
      type: Number,
      default: () => 0,
    },

    loading: {
      type: Boolean,
      default: () => false,
    },
  },

  setup (props) {
    const route = useRoute()
    const router = useRouter()
    const routeType = computed(() => route.query?.type)

    const isMobile = computed(() => store.state.platform.element.containerWidth <= MOBILE_WIDTH)

    const chosePackageIndex = ref(null)
    provide('chosePackageType', chosePackageIndex)

    const classList = inject('classList')
    const chgPackageType = (id) => {
      chosePackageIndex.value = id

      const target = classList.value.find(item => item.id === id)
      const query = JSON.parse(JSON.stringify(route.query))
      query.class = target.type
      event('shopping_click', { click: 'package_class' })
      router.replace({ query })
    }

    const enablePackageTips = computed(() => { return chosePackageIndex.value === 0 })

    const filterList = computed(() => {
      const target = props.list

      if (!target.length || !target[0].data) return []

      return target[0].data
        .filter(item => {
          if (props.presetID === 1) return item.ConditionID === 2 || item.PackageTypeID !== 1
          else if (props.presetID === 2) return item.PackageTypeID === 1
          else return item
        })
        .filter(item => {
          if (props.presetID === 1) {
            switch (chosePackageIndex.value) {
              case 0:
                return item.EndTime !== ''
              case 1:
                return item.PackageTypeID === 2
              case 2:
                return item.ConditionID === 2
            }
          } else return item
        })
    })

    const LIST_STYLE = apply`
      mt-34px grid ${isMobile.value ? 'grid-cols-1' : 'grid-cols-2'} gap-x-20px gap-y-22px
      ${isMobile.value ? 'mx-18px' : ''}
    `

    return {
      routeType,
      chosePackageIndex,
      chgPackageType,
      filterList,
      LIST_STYLE,
      enablePackageTips,
    }
  },
}
</script>
