<template lang="pug" name='index'>
.deposit__wrap(:class="tw([\
  'relative',\
  'md:px-1vw',\
  'px-0',\
])")
  .deposit__container(
    v-if="presetChoseID"
  )
    packageList(
      v-if="presetChoseID !== 3"
      :list="packageList"
      :presetID="presetChoseID"
      :loading="loading"
    )
    viewSeroal(v-else)
  teleport(to="body")
    transition(name="fade")
      depositPop(v-if="isPackageName")
</template>

<script>
import { reactive, ref, computed, provide, watch } from 'vue'
import store from '@/store'
import { useRoute, useRouter } from 'vue-router'

import packageList from './package-list'
import depositPop from './pop'
import viewSeroal from './serial'

import { DEPOSIT_TYPE } from './config'
import { getPackageList } from '@/api/deposit'
import { pointFormatter } from '@/utils/formatters'
import { useNotice } from '@/utils/use-notice'

export default {
  name: 'deposit',

  components: {
    packageList,
    depositPop,
    viewSeroal,
  },

  setup () {
    const headerMenuList = ref([
      { id: 0, label: '禮包', route: { name: 'deposit', query: { type: 'giftpack' } } },
      { id: 1, label: '儲值', route: { name: 'deposit', query: { type: 'deposit' } } },
      { id: 2, label: '序號', route: { name: 'deposit', query: { type: 'orderno' } } },
    ])
    store.dispatch('platform/setPageMenuList', headerMenuList.value)

    const loading = ref(false)
    const route = useRoute()
    const router = useRouter()

    const typeList = reactive([
      { id: 1, type: 'giftpack', label: '禮包' },
      { id: 2, type: 'deposit', label: '儲值' },
      { id: 3, type: 'orderno', label: '序號' },
    ])

    const classList = ref([
      { id: 0, type: 'time', label: '限時禮包' },
      { id: 1, type: 'cycle', label: '週期禮包' },
      { id: 2, type: 'vip', label: 'VIP禮包' },
    ])
    provide('classList', classList)

    const presetChoseID = computed(() => {
      const target = typeList.find(item => item.type === route.query.type)
      return target?.id ?? 0
    })
    provide('presetChoseID', presetChoseID)

    const packageList = reactive(DEPOSIT_TYPE)
    provide('packageList', packageList)

    const getAllPackageList = async () => {
      const list = []
      for (const item of packageList) list.push(getPackageList({ body: { paymentType: item.id } }))
      return Promise.all(list)
        .then(res => {
          for (const [index, item] of res.entries()) {
            if (item.Status.Code !== '0') return
            const formatData = item.Data.reduce((acc, cur) => {
              cur.TWD = pointFormatter(cur.ActuallyPayAmount)
              return acc.concat(cur)
            }, [])
            packageList[index] = { ...packageList[index], data: formatData }
          }
          packageList.forEach((element) => {
            element.data = packageSort(element.data)
          })
        })
        .catch(err => {
          const errorCodeList = {
          }
          const errorMessage = errorCodeList[err.Code] ?? '發生錯誤，請稍後再試，或洽客服人員'
          useNotice({ type: 'error', message: errorMessage })
        })
    }
    const packageSort = (val) => {
      const temp = []
      const twdSort = []
      val.forEach((element) => {
        twdSort.push(element.TWD)
      })
      twdSort.forEach((element, index) => {
        while (element.includes(',')) {
          element = element.replace(',', '')
        }
        twdSort[index] = Number(element)
      })
      twdSort.sort((a, b) => a - b)
      twdSort.forEach((element, index) => {
        twdSort[index] = pointFormatter(element)
      })
      twdSort.forEach(ele => {
        val.forEach((element) => {
          if (ele === element.TWD) temp.push(element)
        })
      })
      return temp
    }
    const init = async () => {
      loading.value = true

      const target = typeList
        .map(item => item.type)
        .includes(route.query.type)
      if (!target) router.replace({ query: { type: typeList[0].type } })

      await getAllPackageList()

      const query = route.query.type
      const queryList = headerMenuList.value.map(item => item.route.query.type)

      if (queryList.includes(query)) store.dispatch('platform/setPageMenuID', queryList.indexOf(query))

      loading.value = false
    }
    init()

    watch(() => route.query.type, (val) => {
      const queryList = headerMenuList.value.map(item => item.route.query.type)
      if (queryList.includes(val)) store.dispatch('platform/setPageMenuID', queryList.indexOf(val))
    })

    const isPackageName = computed(() => !!route?.query?.packageName)

    return {
      presetChoseID,
      packageList,
      loading,
      isPackageName,
    }
  },
}
</script>
