<template>
  <router-view></router-view>
</template>
<script>
import { onMounted } from 'vue'
export default {
  name: 'App',
  components: {
  },
  setup () {
    onMounted(() => {
      let promptEvent
      let once = true
      window.addEventListener('beforeinstallprompt', function (e) {
        e.preventDefault()
        promptEvent = e
        listenToUserAction()
      })
      // listen to install button click
      const listenToUserAction = () => {
        const installBtn = document.querySelector('.home')
        installBtn.addEventListener('click', presentAddToHome)
      }
      // present install prompt to user
      const presentAddToHome = () => {
        if (once) {
          promptEvent.prompt()
          promptEvent.userChoice
            .then(choice => {
              if (choice.outcome === 'accepted') {
                console.log('User accepted')
              } else {
                console.log('User dismissed')
              }
            })
        }
        once = false
      }
    })
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: -8px;
  overflow-x: hidden;
}
</style>
